body {
  background: rgb(247, 196, 58) !important;
}
.ui.container.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 600px !important;
  .segment {
    .header {
      text-align: center;
      color: gray;
    }
    .login {
      background-color: rgb(245, 131, 24);
      color: white;
    }
  }
}
