.ui.menu.fixed.side-nav {
    background-color: #f5f5f5;
    margin-top: 95px;
    overflow-y: auto;
    padding-bottom: 64px;
  
    .sidebar-item:hover {
      background: #ebebeb;
    }
    .side-nav-container {
        flex-grow: 1;
        padding: 0;
        .logo {
            position: relative;
            top: 10vh;
            left: 2vh;
            width: 13rem;
        }
    }
  }
  
  .side-nav.ui.vertical.menu {
    width: 15rem;
  }